<html>
  
  <head>
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="7+OCUSRF0+cOTeFTlCFJe+8Ql4bTxHPvzO8qoUYIHaB4XSltccXI2rF6NKjL67O4oL8m/FcUKZA70fGZZ6TUIg==">
  </head>

  <body>
    <p id="notice"></p>

    <p>
      <strong>Title:</strong>
      リーダブルコード
    </p>

    <p>
      <strong>Body:</strong>
      より良いコードを書くためのシンプルで実践的なテクニック
    </p>

<a class="edit_17172" href="/books/17172/edit">Edit</a> |
<a class="back" href="/books">Back</a>

  

</body></html>